
		
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="/admin/system/setting">系统设置</a></li>
            <li><a href="/admin">系统信息</a></li>
          </ul>
		<ul class="nav nav-sidebar">
            <li><a href="/admin/user/add">添加用户</a></li>
            <li><a href="/admin/user/list">用户列表</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/admin/tag">标签管理</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
      